.tableverse {
    width: 65%;
    border-collapse: collapse;
    font-size: 18px;
    text-align: center;
    border: 1px solid #4b1313;

 
}
table{
    width: 100%;
    border: 1px solid #4b1313;
    margin: 0 auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 
}

.form {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 100%; 
    padding: 20px; /* Reduced padding */
    border: 1px solid #4b1313;
    border-radius: 8px;
    background: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    margin-right: auto;
}

.form:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Add this rule for the labels */
.form label {
    margin-bottom: 5px; /* Space between label and input */
    font-size: 16px;
    color: #333;
}

.form input,
.form textarea,
.form select {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 80%;
}

.form input:focus,
.form textarea:focus,
.form select:focus {
    border-color: #4b1313;
    outline: none;
    box-shadow: 0 0 5px rgba(75, 19, 19, 0.5);
}

.form button {
    background: #4b1313;
    color: #fff;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.form button:hover {
    background: #6e1e1e;
}

#btn {
    background-color: #b64113;
    color: white;
    padding: 10px 15px;
    text-align: center;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    align-self: flex-end;  
}

.bigform {
    flex-direction: column;
    margin: 20px auto;
    width: 100%;
    background: #f9f9f9;
}

.UNIVERSAL {
    font-family: 'Arial', sans-serif;
    display: flex;
    gap: 3rem;
    background-color: #f4f4f4;
    color: #333;
    margin:0 ;
    padding: 7px 20px;
    flex-direction: row;
    
    justify-content: space-between;

}

.search {
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 16px;
    margin: 15px ;
    border: 2px solid #4b1313;
}
